[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# bodhi-client fails to be installed.
# https://github.com/xsuchy/fedora-packages-ng/issues/5
# bodhi = "*"
# bodhi-client = "*"
flask = "*"
flask-bootstrap = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
humanize = "*"
koji = "*"
psycopg2 = "*"

[dev-packages]
coverage = "*"
flask-debugtoolbar = "*"
flask-testing = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
