html {
  height: 100%;
}

body {
  font-family: "Open Sans" !important;

  /* Keep footer always on bottom */
  position: relative;
  padding-bottom: 200px;
  min-height: 100%;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: transparent;
}

div.pypi-python-version {
	cursor: default;
}

div.pypi-python-version input {
	margin-bottom: -1px;
	vertical-align:middle;
}

div.pypi-python-version label {
	margin-bottom: -5px;
	vertical-align:middle;
}

div.anitya-rebuild input {
	margin-bottom: -1px;
	vertical-align:middle;
}

div.anitya-rebuild label {
	margin-bottom: -5px;
	vertical-align:middle;
}

code {
    white-space: pre-wrap;
}

span.build-waiting {
    color: #666666;
}

span.padding {
    width: 5px;
    display: inline-block;
}

input.short-input-field {
    width: 6em;
}

.table_footer {
	padding: 7px 0 0 0;
	background: #f5f5f5;
	margin: 0;
	min-width: 54rem;
	border-left: 1px #d1d1d1 solid;
	border-right: 1px #d1d1d1 solid;
	border-bottom: 1px #d1d1d1 solid;
}

.bugcount{
  font-size: 4em;
  text-align: center;
}

#search-results-table table {
    font-weight: normal;
    font-size: medium;
    font-style: normal;
}

#main-bar {
  margin-bottom: 0px !important;
}


.pb-3, #menu {
    background: #f3f3f3;
}

#menu {
    border-bottom: 1px solid #DDD;
    margin-top: 0px;
}

#changelog.table thead {
  background: none;
}


/* In the original fedora-packages site, this is defined in fedora-packages.css */

#search-results-table .subpackage td {
  text-indent: 1.5em;
}

#search-results-table .subpackage {
    font-size: smaller;
}

img.package-image {
  float: left;
}

.package-header {
  margin-left: 110px;
  display: block;
}

.package-header h2 {
  display: inline;
}

.subheader {
  background: #f3f3f3;
}

.tabs {
    background: #f3f3f3;
    border-bottom: 1px solid #DDD;
}

.package-tree ul {
  list-style: none;
  margin-left: 0.4em;
  padding: 0;
}

.package-tree ul ul {
  list-style: square url(/static/images/list_tree_marker.png);
  margin-left: 1.3em;
}

.history-cards .list-group-item img {
  height: 25px;
  width: 25px;
  margin: 2px auto;
}
