<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Fedora Packages Search{% endblock %}</title>
  <script src="{{ url_for('system_static', component='jquery', filename='1/jquery.min.js') }}"></script>
  <script src="{{ url_for('system_static', component='jquery_ui', filename='jquery-ui.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="https://apps.fedoraproject.org/global/fedora-bootstrap-1.0.2/fedora-bootstrap.css" media="all" />
  <link rel="stylesheet" href="{{ url_for('system_static', component='jquery_ui', filename='jquery-ui.min.css') }}" />
  <link href="{{ url_for('system_static', component='patternfly', filename='css/patternfly.min.css') }}" rel="stylesheet" media="screen, print">
  <link rel="stylesheet" href="{{ url_for('system_static', component='patternfly', filename='css/patternfly-additions.min.css') }}">
  <link href="{{ url_for('static', filename='custom-styles.css') }}" rel="stylesheet" media="screen, print">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="{{ url_for('system_static', filename='html5shiv.min.js') }}"></script>
  <script src="{{ url_for('system_static', filename='respond.min.js') }}"></script>
  <![endif]-->
  <!-- IE8 requires jQuery and Bootstrap JS to load in head to prevent rendering bugs -->
  <!-- IE8 requires jQuery v1.x -->
  <script src="{{ url_for('system_static', component='jquery', filename='1/jquery.min.js') }}"></script>
  <script src="{{ url_for('system_static', component='bootstrap_scss', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('system_static', component='datatables', filename='js/jquery.dataTables.js') }}"></script>
  <script src="{{ url_for('system_static', component='patternfly', filename='js/patternfly.min.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fedora.css') }}">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style-overwrite.css') }}">
</head>
<body>

  {% macro nav_element(tab_name, tab_title, icon,  href) %}
  <li class="{% if selected_tab == tab_name %}active{% endif %}">
    <a href="{{ href }}"> <span class="{{icon}}"></span> {% if "pficon" not in icon %}&nbsp;{%endif%}
      {{ tab_title }}
    </a>
  </li>
  {% endmacro %}


   <!-- CONTENT -->
  <div id=content>
  <div class="container">

        <!-- messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <br>
        <div class="row">
          <div class="col-md-12">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
              {{message}}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endwith %}

        <!-- errors -->
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}




  </div>
  <!-- child template -->
  {% block content %}{% endblock %}
  {% include 'footer.html' %}
  </div>
</body>
</html>
