<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="/system_static/jquery/1/jquery.min.js"></script>
  <script src="/system_static/jquery_ui/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="/system_static/jquery_ui/jquery-ui.min.css" />
  <link href="/system_static/patternfly/css/patternfly.min.css" rel="stylesheet" media="screen, print">
  <link rel="stylesheet" href="/system_static/patternfly/css/patternfly-additions.min.css">
  <link href="/static/custom-styles.css" rel="stylesheet" media="screen, print">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/system_static/html5shiv.min.js"></script>
  <script src="/system_static/respond.min.js"></script>
  <![endif]-->
  <!-- IE8 requires jQuery and Bootstrap JS to load in head to prevent rendering bugs -->
  <!-- IE8 requires jQuery v1.x -->
  <script src="/system_static/jquery/1/jquery.min.js"></script>
  <script src="/system_static/bootstrap_scss/js/bootstrap.min.js"></script>
  <script src="/system_static/datatables/js/jquery.dataTables.min.js"></script>
  <script src="/system_static/patternfly/js/patternfly.min.js"></script>
  <link rel=stylesheet type=text/css href="/static/fedora.css">
   <link rel=stylesheet type=text/css href="/static/style-overwrite.css">
</head>
<body>
   <!-- CONTENT -->
  <div id=content>
  <div class="container">

        <!-- messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <br>
        <div class="row">
          <div class="col-md-12">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
              {{message}}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endwith %}
        
        <!-- errors -->
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}

         <!-- child template -->
        {% block content %}{% endblock %}



    <!-- Just enjoy various PatternFly components -->
    <div class="alert alert-success">
      <span class="pficon pficon-ok"></span>
      <strong>Great job!</strong> This is really working out <a href="#" class="alert-link">great for us</a>.
    </div>



  </div>
  {% include 'footer.html' %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
</body>
</html>


