  <!-- MAIN MENU -->
  <nav class="navbar navbar-default" id="main-bar">
    <div class="container masthead">
      <div class="row">
        <div class="col-md-8 col-sm-7 col-xs-6">
          <a href="{{ url_for('main.home') }}">
            <img id="logo" src="{{ url_for('static', filename='fedora_packages_logo.png') }}" alt="Fedora Packages Search">
          </a>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-6">
          <div id="login-menu" class="text-right">

          </div>
          <form role="search" method="POST" action="/">
            <div class="input-group menu-search">
              <input name="package_name" type="text" class="form-control" placeholder="Search for packages"
                     value="{% block search_box %}{%endblock%}">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
