<!-- START package chrome -->
<div class="bodycontent pb-3">
    <div class="subheader pb-2 clearfix">
      <div class="container pt-2">
      <img src="{{ url_for('static', filename='images/package_128x128.png') }}" class="package-image" height="96" width="96"/>
      <div class="package-header">
        <h2>{{ package.name }}
          <span class="dropdown">
            <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ package.name }} in other apps
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="https://admin.fedoraproject.org/updates/{{ package.name }}"><img src="{{ url_for('static', filename='images/16_bodhi.png') }}"/> Bodhi </a> </li>
              <a class="dropdown-item" href="https://bugzilla.redhat.com/buglist.cgi?component={{ package.name }}&query_format=advanced&product=Fedora&bug_status=__open__"><img src = "https://admin.fedoraproject.org/community/images/16_bugs.png"/> Bugzilla </a>
              <a class="dropdown-item" href="https://retrace.fedoraproject.org/faf/problems/?component_names={{ package.name }}"><img src="{{ url_for('static', filename='images/16_abrt.png') }}"/> ABRT Analytics </a>
              <a class="dropdown-item" href="http://koji.fedoraproject.org/koji/search?match=glob&type=package&terms={{ package.name }}"><img src = "https://fedoraproject.org/static/images/icons/fedora-infra-icon_koji.png"/> Koji Builds </a>
              <a class="dropdown-item" href="https://src.fedoraproject.org/rpms/{{ package.name }}"><img src = "https://apps.fedoraproject.org/img/icons/git-logo.png" width=16px/> SCM </a>
            </div>
          </span>
        </h2>
        {% if package.is_subpackage %}
            Subpackage of <a class="subpackage_link" href="{{ package.parent.url }}">{{ package.parent.url }}</a>
        {% endif %}
        <div><em>{{ package.summary }}</em></div>
        <div>
            <h4>Install this package:</h4>
            <em> dnf install {{ package.name }} </em>
        </div>
      </div>
    </div>

    </div>

</div>
<!-- END package chrome -->
