<div id="searchbar" class="masthead py-3">
           <div class="container">
		<div class="grid_2">
		&nbsp;
		</div>
               <script type="text/javascript">
                   function do_search(form) {
                       var value = encodeURIComponent(encodeURIComponent(form.search['value']));
                       window.history.pushState({search: value}, '',
                                                form.action + '/' + value);
                       update_search_grid(value);
                       return False;
                   }
               </script>
               <form action="/packages/s"
                      onSubmit="return do_search(this);">
                      <div class="input-group">
                        <input class ="form-control form-control-lg" type="text" name="search"
                               autofocus="autofocus"
                               value="rpmconf" />
                         <span class="input-group-btn">
                           <input type="submit" value="Search" class="btn btn-primary btn-lg" />
                         </span>
                     </div>
               </form>
               <div class="clear"></div>
           </div>
       </div>
